node_modules/
.env/

# rputer.post

// router.post("/create", (req, res) => {
//   const {
//     jobCode,
//     industry,
//     designation,
//     location,
//     country,
//     job_description,
//     key_Responsibility,
//     preferred_Qualification,
//     b_Qualification,
//     post_date,
//   } = req.body;

//   try {
//     if (
//       !jobCode ||
//       !industry ||
//       !designation ||
//       !location ||
//       !country ||
//       !post_date
//     ) {
//       throw new Error("Missing required fields");
//     }

//     const checkDuplicateQuery = 'SELECT COUNT(*) AS count FROM crsjoblist WHERE jobCode = ?';
//   connection.query(checkDuplicateQuery, [jobCode], (error, results) => {
//     if (error) {
//       console.error('Error checking for duplicate jobCode:', error);
//       return res.status(500).json({ error: 'Internal Server Error' });
//     }

//     const jobCodeCount = results[0].count;

//     if (jobCodeCount > 0) {
//       return res.status(400).json({ error: 'JobCode must be unique' });
//     }

//     const insertQuery = `
//       INSERT INTO crsjoblist (
//         jobCode,
//         industry,
//         designation,
//         location,
//         country,
//         job_description,
//         key_Responsibility,
//         preferred_Qualification,
//         b_Qualification,
//         post_date
//       ) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
//     `;

//     const values = [
//       jobCode,
//       industry,
//       designation,
//       location,
//       country,
//       job_description,
//       key_Responsibility,
//       preferred_Qualification,
//       b_Qualification,
//       post_date,
//     ];

//     connection.query(insertQuery, values, (error, results) => {
//       if (error) {
//         console.error("Error executing INSERT query:", error);
//         throw new Error("Internal Server Error");
//       }

//       res.json({
//         message: `${jobCode} new Job created successfully`,
//         jobId: results.insertId,
//       });
//     });
//     } catch (error) {
//         console.error("Error in /job/create route:", error.message);
//         res.status(400).json({ error: error.message });
//     }

// });


# database
// const db = mysql.createConnection({
//   host: "68.178.150.139", // Replace with the actual IP address of your MySQL server
//   user: "aspiraSys",
//   password: "aspiraAdmin",
//   database: "crs_database",
// });

// db.connect((err) => {
//   if (err) {
//     console.error("MySQL connection failed:", err);
//   } else {
//     console.log("Connected to MySQL database");
//   }
// });

// const database = process.env.MYSQL_DATABASE;
// const user = process.env.MYSQL_USER;
// const password = process.env.MYSQL_PASSWORD;
// const host = process.env.MYSQL_HOST;

// const db = mysql.createConnection({
//   host,
//   user,
//   password,
//   database
// });

// db.connect((err) => {
//   if (err) {
//     console.error("MySQL connection failed:", err);
//   } else {
//     console.log("Connected to MySQL database");
//   }
// });

// const db = new Sequelize(database, user, password, {
//   host: host,
//   dialect: "mysql",
//   logging: false,
// });

// db
//   .authenticate()
//   .then(() => {
//     console.log("Connection has been established successfully.");
//   })
//   .catch((error) => {
//     console.error("Unable to connect to the database: ", error);
//   });


// const pool = mysql.createPool({
//   host: "68.178.150.139",
//   user: "ir4pisnps0dk",
//   password: "Aspira25",
//   database: "crs_database",
// });

// app.get("/api/jobs", (req, res) => {
//   pool.query(`select * from ${table}`, (err, rows) => {
//     if (err) {
//       res.send(err);
//     } else {
//       res.send(rows);
//     }
//   });
// });

// const connection = mysql.createConnection({
//   host: "localhost",
//   user: "root",
//   password: "",
//   database: "crsdatabase", // Replace with your actual database name
//   port: 3306,
// });

// // Connect to the database
// connection.connect((err) => {
//   if (err) {
//     console.error("Error connecting to MySQL:", err);
//     return;
//   }
//   console.log("Connected to MySQL database");

//     const query = 'SELECT * FROM crsjoblist';

//   connection.query(query, (error, results, fields) => {
//     if (error) {
//       console.error('Error executing query:', error);
//       return;
//     }
  
//     // Process the query results
//     console.log('Query results:', results);
//     })
// });